body {
  font-family: 'Open Sans';
  color: #F5F2E7;
  margin: 0 auto;
  padding: 0;
  background-color: #2C3333;
}

.wrapper section {
  height: 100vh;
  width: 100vw;
}

.logo {
  position: fixed;
  z-index: 1;
  margin: 1em;
  opacity: 0.5;
}

.logo:hover {
  opacity: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 1em;
  color: white;
  z-index: 1;
}

.nav .nav-button {
  padding: 1em;
  font-size: 100%;
}

.nav .nav-button a {
  font-family: 'Open Sans Condensed';
  text-decoration: none;
  font-size: 1.3rem;
  color: #F5F2E7;
  opacity: 0.6;
}

.nav .nav-button a:hover {
  opacity: 1;
  -webkit-text-decoration: underline 0.15em;
          text-decoration: underline 0.15em;
}

h1 {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  color: #F5F2E7;
  font-size: 2.5rem;
  margin: 0;
}

p {
  opacity: 0.5;
  margin: 0;
}

.blue-text {
  color: #2666CF;
}

.section-title {
  position: absolute;
  top: 5vh;
  left: 35vh;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 10vh;
  opacity: 0.5;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C3333;
  width: 100%;
  height: 100vh;
  margin-bottom: 0;
}

.section-1 .hero-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.section-1 .hero-left-side .hero-message {
  text-align: center;
  padding: 4em;
}

.section-1 .hero-right-side {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  position: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.section-1 .hero-right-side .image {
  height: 100vh;
  background: url("images/climber4.jpg");
  background-size: 100% auto;
  background-position-y: 20%;
}

.section-1 .hero-right-side .image .gradient {
  width: 100%;
  height: 100vh;
  background: #2c3333;
  background: -webkit-gradient(linear, left top, right top, from(#2c3333), to(rgba(32, 36, 40, 0)));
  background: linear-gradient(90deg, #2c3333 0%, rgba(32, 36, 40, 0) 100%);
  display: none;
}

.section-2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #2C3333;
  z-index: 0;
}

.section-2 .image-line {
  width: 100%;
}

.section-2 .text-container-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 4fr;
      grid-template-columns: 1fr 0.5fr 4fr;
  position: absolute;
  top: 8.5em;
  left: 8em;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  color: #F5F2E7;
}

.section-2 .text-container-1 .text-container-grid {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vh;
}

.section-2 .text-container-1 .text-container-grid:nth-child(1), .section-2 .text-container-1 .text-container-grid:nth-child(3) {
  opacity: 0.7;
}

.section-2 .text-container-1 .text-container-grid:nth-child(2) {
  font-size: 4vh;
  text-transform: uppercase;
  font-weight: 900;
}

.section-2 .text-container-1 .text-container-grid:nth-child(-n+3) {
  grid-column: span 3;
}

.section-2 .text-container-1 .text-container-grid:nth-child(4) {
  grid-row: span 2;
  line-height: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16vh;
}

.section-2 .text-container-1 .text-container-grid:nth-child(5) {
  grid-row: span 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 10vh;
  margin: auto;
  font-weight: 700;
}

.section-2 .text-container-1 .text-container-grid:nth-child(6) {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.9;
  font-size: 8vh;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.section-2 .text-container-1 .text-container-grid:nth-child(7) {
  text-transform: uppercase;
  font-size: 8vh;
  font-weight: 700;
  line-height: 0.7;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-2 .text-container-2 {
  position: absolute;
  width: 25vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  bottom: 5vh;
  right: 10vh;
  font-size: 2.5vh;
  opacity: 0.7;
}

.image-line {
  vertical-align: top;
  height: 100%;
}

.section-3 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section-3 .background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("images/climber-section-3.jpg");
  background-size: 100% auto;
  mix-blend-mode: luminosity;
  opacity: 0.15;
  z-index: -1;
}

.section-3 .trainer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 16vh;
  bottom: 18vh;
  gap: 10vh;
}

.section-3 .trainer-wrapper .trainer-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  height: 30vh;
  width: 40vh;
  border: 5px #2666CF solid;
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 10%;
  padding-top: 12vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.section-3 .trainer-wrapper .trainer-box img {
  position: absolute;
  top: -10vh;
  left: 12vh;
  height: 20vh;
  border-radius: 50%;
}

.section-3 .trainer-wrapper .trainer-box h1 {
  font-size: 4vh;
}

.section-3 .trainer-wrapper .trainer-box p {
  font-size: 3vh;
}

.section-4 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-4 .bg-lay1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.section-4 .bg-lay2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.section-4 .bg-lay1-img, .section-4 .bg-lay2-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.section-4 .contact {
  position: relative;
  height: 70vh;
  width: 30vw;
  background-color: #F5F2E7;
  z-index: 100;
  border-radius: 10%;
  opacity: 0.6;
}

.section-4 .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 10% 5% 0% 5%;
  height: 75%;
  width: auto;
}

.section-4 .contact .normal {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-4 .contact .main {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
/*# sourceMappingURL=style.css.map */